h1 {
	font-family: 'Archivo Black', sans-serif;
}
body {
	background-color: #D4B28C;
  margin: 0;
  font-family: 'Lora', serif;
}
footer{
  text-align: center;
  font-size: 20px;
}

.tittel{
  grid-area: tittel;
}

.topnav{
  grid-area: topnav;
}

#maingrid{
	display: grid;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

nav {
	background-color: #94632B;
	margin: 0;
	overflow: hidden;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	list-style-type: none;

}
nav  ul  li  a{
	color: black;
	font-size: 20px;
  border-right: 1px solid black;
	background-color: #94632B;
	display: block;
	line-height: 0.2em;
	padding: 1em 3em;
	text-decoration: none;
}

#headerimg{
  max-width: 100%;
  height: 200px;
	background: url("bilder/forsidebilde.jpg");
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#headertitle{
  font-size: 70px;
  color: black;
  text-align: center;
  padding-top: 60px;
}

.artikkelheader{
  font-size: 30px;
}
  #maingrid {
    display: grid;
  	width: 100%;
  	max-width: 1400px;
  	margin: 0 auto;
  	grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    "tittel tittel tittel"
    "topnav topnav topnav"
    "sidebar hovedkolonne hovedkolonne";
  }
}

img.malbilde{
	height: 350px;
	width: 350px;
	float: right;
}
